<%- include header%>
	 
	<% if (articles.length) {%>
	<% articles.forEach(function(article){ %>
		<div class="article">
		<h2 class="title"><%= article.title %></h2>
		<p class="articleinfo"><span class="author"><%= article.author %></span><span class="time"><%= article.time %></span></p>
		<p class="articleBody"><%= article.article %></p>
		</div>
	<%	}) %>
	<% } %>
	

<%- include footer%>